<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/ic.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div id="container">
        <div class="-main-content">
            {{>header}}
        <img class="potrait" src="/img/me.jpg" >
        <p>This is a project by Awantika Chitransh currently pursuing BE from Thapar Institute of Engineering and Technology.I am currently in second year and have made this project using HTML,CSS and Nodejs.For any complaints and suggestions you can mail me or text me.The mail id and linkedin profile is attached at the bottom</p>
        <h3>Thanks for visiting!!</h3>
        </div>
        </div>
        <p>Mail me at awantikachitransh@gmail.com</p>
        <a href = "https://www.linkedin.com/in/awantika-chitransh-2aa081176">View Profile</a>
        {{>footer}}
    </body>
</html>